# Supabase
NEXT_PUBLIC_SUPABASE_URL="https://esvhcssqweliyxwljgmv.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVzdmhjc3Nxd2VsaXl4d2xqZ212Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI3MDMzMDEsImV4cCI6MjA4ODI3OTMwMX0.Ja03JS6w7kS6Z37RTAnstdf6mZTgx8EshS8-ry0G6so"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVzdmhjc3Nxd2VsaXl4d2xqZ212Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjcwMzMwMSwiZXhwIjoyMDg4Mjc5MzAxfQ._VlFMBmbdPTCLWIqUg_drOR22gio42XXnm0D1nwTEsQ"

# Cron secret (generate a random string)
CRON_SECRET=your-cron-secret
